.welcomeText {
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.welcomeTextP {
  font-size: 30px;
}
.welcomeSurveyImageContainer {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.welcomeSurveyImage {
  width: 80%;
  text-align: center;
  margin: auto;
}
.welcomeNormalText {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
  margin: auto;
}
.welcomeQuestionText {
  font-size: 18px;
  margin-top: 20px;
}
.finishSurveyButton {
  width: 90%;
  margin-left: 5%;
}
