.welcomeText {
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.welcomeTextP {
  font-size: 30px;
}
.welcomeSurveyImageContainer {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.welcomeSurveyImage {
  width: 80%;
  text-align: center;
  margin: auto;
}
.welcomeNormalText {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
  margin: auto;
}
.welcomeQuestionText {
  font-size: 18px;
  margin-top: 20px;
}
.restaurantButtonContainer {
  width: 90%;
  margin-left: 5%;
}
.clickedButton {
  background-color: black;
  color: white;
}
.finishSurveyButton {
  margin-top: 20px;
  margin-bottom: 20px;
}

welcome-survey {
  .enabled {
    background-color: black;
    color: white;
  }
  .restaurantButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: stretch;
  }
  .category-button {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
  .submit-fab {
    position: absolute;
    right: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
