<ion-header>
  <ion-navbar [color]="'light'">
    <ion-title>
      Add a Friend
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    (ionChange)="findUsers()"
    [debounce]="750"
    placeholder="Find Users"
    [(ngModel)]="query"
    name="search"
    color="grey"
  ></ion-searchbar>
  <fd-error [message]="error.message" [visible]="error.isError"></fd-error>
  <ion-list>
    <ion-item *ngFor="let user of results">
      {{user.name}}
      <button ion-button icon-only clear item-end><ion-icon name="person-add"></ion-icon></button>
    </ion-item>
  </ion-list>
  <div *ngIf="noResults">
    <p>There doesn't seem to be a match for that name. Perhaps you made a typo?</p>
  </div>
  <div *ngIf="showHelpText">
    <p>Search for a user above.</p>
  </div>
  <fd-loading *ngIf="loading"></fd-loading>
</ion-content>
