page-home {
  .logo {
    height: 48px;
    width: auto;
    padding: 8px 4px 4px 4px;
  }
}

.md {
  page-home {
    ion-header::after {
      background-image: none !important;
    }

    ion-header {
      transition: 250ms;
    }

    ion-header.scrolled {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 4px rgba(0, 0, 0, 0.12)
    }
  }
}
