<ion-header [ngClass]="hasScrolledPastZero ? 'scrolled' : 'notScrolled'">
  <ion-navbar [color]="'light'">
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <!--<button ion-button icon-only clear (click)="openAccountPage()"><ion-icon name="person"></ion-icon></button>-->
    </ion-buttons>
    <ion-title text-center>
      <!--FINDining-->
      <img src="assets/logo_final.png" class="logo" height="36">
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only clear (click)="openFilterPopover($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <!--<button ion-button icon-only clear (click)="openOverflowPopover($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
      <!--</button>-->
      &nbsp;
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="grid-container">
    <div class="space"></div>
    <div class="restaurants">
      <!--<fd-restaurant *ngFor="let restaurant of restaurants" [fdRestaurant]="restaurant" (click)="openDetailsPage(restaurant)"></fd-restaurant>-->
      <fd-error [visible]="error.visible" [message]="error.message"></fd-error>
      <fd-restaurant *ngIf="leftRestaurant" [fdRestaurant]="leftRestaurant" class="restaurant" [ngClass]="leftRestaurantClass"></fd-restaurant>
      <fd-restaurant *ngIf="currentRestaurant" [fdRestaurant]="currentRestaurant" class="restaurant" [ngClass]="currentRestaurantClass" (swipe)="swipeHandler($event)" (click)="openDetailsPage(currentRestaurant)"></fd-restaurant>
      <fd-restaurant *ngIf="rightRestaurant" [fdRestaurant]="rightRestaurant" class="restaurant right" [ngClass]="rightRestaurantClass"></fd-restaurant>
      <div class="load-wrap">
        <fd-loading *ngIf="isLoading" #loading></fd-loading>
      </div>
    </div>
    <div class="space"></div>
  </div>
  <div class="help" *ngIf="showHelp"></div>
</ion-content>
