@keyframes right-rest-to-center {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes left-rest-to-center {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes center-rest-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes center-rest-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes help {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .8;
  }
  20% {
    transform: translateX(0);
  }
  80% {
    opacity: .8;
    transform: translateX(calc(-50vw + 25px));
  }
  100% {
    opacity: 0;
    transform: translateX(calc(-50vw + 25px));
  }
}

page-home {
  .logo {
    height: 48px;
    width: auto;
    padding: 8px 4px 4px 4px;
  }

  .help {
    position: fixed;
    width: 40px;
    height: 40px;
    top: calc(50% - 25px);
    right: 20px;
    border-radius: 100%;
    background: #424242;
    border: 2px solid #ddd;
    animation: help 3s ease-in-out infinite;
  }

  .card-title {
    white-space: pre-wrap;
  }

  .restaurants {
    display: flex;
    height: calc(100vh - 61px);
    align-items: center;
    justify-content: center;
  }

  .restaurant {
    position: absolute;

    img {
      object-fit: cover;
      max-height: 70vh;
    }
  }

  .left.restaurant {
    transform: translateX(-100vw);
  }

  .right.restaurant {
    transform: translateX(100vw);
  }

  .restaurant.right-to-center {
    animation: right-rest-to-center 250ms ease-in-out forwards;
  }

  .restaurant.left-to-center {
    animation: left-rest-to-center 250ms ease-in-out forwards;
  }

  .restaurant.center-to-left {
    animation: center-rest-to-left 250ms ease-in-out forwards;
  }

  .restaurant.center-to-right {
    animation: center-rest-to-right 250ms ease-in-out forwards;
  }
}

.md {
  page-home {
    ion-header::after {
      background-image: none !important;
    }

    ion-header {
      transition: 250ms;
    }

    ion-header.scrolled {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 4px rgba(0, 0, 0, 0.12)
    }
  }
}
