.iconContainer {
  text-align: center;
  margin: auto;
}
.personIcon {
  font-size: 200px;
}
.friendNameContainer {
  margin-top: 0px;
  text-align: center;
  margin: auto;
}
.friendName {
  font-size: 40px;
}
.likesContainer {
  padding-left: 20px;
}
