<ion-header>
  <ion-navbar [color]="'light'">
    <ion-title>
      Friends
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button *ngFor="let friend of friends" ion-item (click)="openFriendPage($event, friend)">
      <ion-icon name="contact" item-start></ion-icon>
      {{ friend.first_name }} {{ friend.last_name }}
    </button>
    <ion-card *ngIf="hasNoFriends">
      <ion-card-content>
        You don't have any friends. Click the orange button on the bottom right to begin adding friends!
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="openAddFriendPage()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
